<h1>Signup:</h1>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= form_for :user, url: '/users' do |f| %>
<table class:"table table-bordered">
  <tr>
    <th>First Name:</th>
    <th><%= f.text_field :firstName %><br></th>
  </tr>
  <tr>
    <th>Last Name:</th>
    <th><%= f.text_field :surname %><br></th>
  </tr>
  <tr>
    <th>Email:</th>
    <th><%= f.text_field :email %><br></th>
  </tr>
  <tr>
    <th>Password:</th>
    <th><%= f.password_field :password %><br></th>
  </tr>
  <tr>
    <th>Password Confirmation:</th>
    <th><%= f.password_field :password_confirmation %><br></th>
  </tr>
</table>
<%= f.submit class: 'btn btn-success btn-new' %>
<% end %>
